body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.language-name {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.language-words {
  font-size: 1rem;
}

.lokalise-img {
  text-align: center;
}

.container { 
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

main a:link, main a:visited {
  text-decoration: none;
  color: rgb(151, 151, 151);
}

main a:hover {
  color: rgb(92, 94, 255) !important;
  text-decoration: underline;
}

header a:link, header a:visited {
  text-decoration: none;
  color: #4360DF;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.padding-top-20{
  padding-top: 20px;
}


.cta-margin-top{
  margin-top: 20px;
}

.margin-top-80{
  margin-top: 80px !important;
}

*:focus {
  outline: none;
}

.font-weight-400 {
  font-weight: 400;
}

p {
  font-weight: lighter;
}

/*------------- NAVIGATION BAR -------------------*/

.logo-container {
  margin: 20px;
}

.logo {
  width: 250px;
  height: auto;
  margin-left: 50px;
}

.bm-menu {
  background: #525252 !important;
  height: 380px !important;
}
.bm-menu a {
  color: #b8b7ad;
}
.bm-menu a:hover {
  color: #ffffff;
  font-weight: 900;
}

.bm-item-list {
  height: 50% !important;
}

.bm-item-list a {
  padding: 0.8em;
  text-decoration: none;
}
.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
}
.bm-item:focus {
  outline: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 25px;
  right: 60px;
  top: 36px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #4d4d4d;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #949494;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
}

.button {
  margin: 20px;
  font-size: 20px !important;
  padding: 6px 20px;
  width: 150px !important;
  height: 50px !important;
}

nav img {
  width: 6rem;
}

nav ul {
  width: 100%;
  display: grid;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav ul:first-of-type{
  grid-template-columns: 1fr;
}

nav ul:first-of-type li{
  font-size: 1.4rem;
  font-weight: bold;
  text-indent: 30px;
}

nav ul:first-of-type li span {
  font-weight: 500;
  color: #444;
}

nav ul:last-of-type{
  grid-template-columns: repeat(3, 1fr);

}

nav ul li a, nav ul li a:visited{
  color:#111;
  text-decoration: none; 
  font-weight: bold;
  display: block;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*------------- HEADER -------------------*/

header {
  background: url("./images/world-map.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 90% 100%;
  background-position: center;
  height: 700px;
}

header div.head {
  position: relative;
  display: grid;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  color: #222;
}

header strong {
  font-weight: bolder;
  color: #4360DF;
}

header a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.title-center {
  text-align: center;
  margin: 10px auto 40px;
}

header div.head h1 {
  font-size: 4rem;
  font-weight: 400;
  padding-top: 7rem;
  text-align: center;
}

header div.head p {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 10px auto;
  align-items: center;
  text-align: center;
  line-height: 160%;
}

.contact {
 background: rgb(0, 99, 248);
 display: block;
 color: #fff;
 font-weight: bold;
 width: 50%;
 margin: 0 auto;
 text-align: center;
 padding: 12px;
 border-radius: 10px;
 text-decoration: none; 
 -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
 box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
}


 /*------------- MAIN SECTION -------------------*/


main {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.search-bar {
  width: 300px;
}

main section {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;

}

main section div b {
  color: rgb(0, 99, 248);
  font-size: 1.5rem;
}

main div h1 {
  font-size: 3rem;
}

main section h2 {
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  line-height: 2rem;
  text-align: center;
}

main section h3 {
  font-size: 2rem;
  text-align: center;
  color: #ccc;
  margin-right: 15px;
}

main section div {
  position: relative;
}

main section div p {
  padding-left: 10px;
}

main div p{
  line-height: 160%;
  font-size: 1.3rem;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  height: 600px;
  text-align: center;
}

.image-size {
  height: 480px;
}

.last-image-size {
  width: 85%;
  height: auto;
}

.steps-action {
  margin-top: 24px;
}

.ant-btn {
  width: 120px;
}

 /*------------- countries -------------------*/

div.languages {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  
}

.card{
  text-align: center;
  background: #fff;
  width: 80%;
  border-radius: 10px;
  margin: 10px auto 50px auto;
  padding-bottom: 35px;
  
  -webkit-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  
}

.blue-anchor {
  color: #1890ff !important;
}

.percent{
  font-family: 'Roboto', sans-serif;
  color: blue;
}

.languages p.language-icon {
  font-size: 3.4rem;
  padding: 30px 0px 30px 90px;
  margin: 0px 0px 30px 0px;
  text-align: left;
  color: rgb(0, 99, 248);
  filter: grayscale(0%);
  border-bottom: 2px solid rgb(0, 99, 248);
}
.languages p.language-title{
  font-size: 3.1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

 /*------------- FORM -------------------*/

main section form {
  padding: 0px;
  margin: 0;
}

main section form p {
  font-size: 1.3rem;
  text-align: center;
}


main section form div {
  border:1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 3fr;
  align-items: center;

}

main section form div:last-of-type {
  display: grid;
  grid-template-columns: 3fr 1fr;

} 

main section form div:last-of-type input {
  background: rgb(90, 99, 98);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
}

main section form div label {
  background: #444;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 6px;
  text-align: center;
  margin-right: 10px;
  border-radius:10px;
  -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
}

main section form div input {
  background: none;
  border: none;
  font-size: 1rem;
}

main section form div textarea {
  font-family: Raleway;
 
  border: none;
  background: none;
  font-size: 1rem;
  resize: vertical;
}

.error {
  color: rgb(255, 57, 57);
  font-size: 1.3rem;
}

.contributor-font {
  color: #9e9e9e;
  text-align: center;
  font-size: 36px;
}

 /*------------- footer -------------------*/

footer {
  background: #2B2B2B;
  color: #fff;
  padding: 70px;
  margin-top: 80px;
}

.footer-margin {
  margin-left: 80px;
}

.footer-title {
  font-size: 36px;
}

.footer-subtitle {
  font-size: 30px;
  padding-top: 30px;
  color:#9E9E9E;
}

footer ul {
  
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.social-margin {
  margin-top: 20px;
  margin-right: 20px;
  width: 20%;
}

.footer-inline {
  display: inline-block;
}

.footer-svg {
 display: inline-block;
}

.flex {
  display: flex;
  margin-left: 20px;
}

.inner {
  flex: 1;
  margin-left: 20px;
}

.inner a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
}

.inner p {
  color: #9E9E9E;
  box-sizing: border-box;
}

.footer-svg{
  margin-top: 4px;
}

.footer-bottom {
  margin-top: 100px;
  margin-left: 80px;
  padding-bottom: 50px;
}

.footer-bottom a {
  font-size: 16px;
  color: #9e9e9e;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration: none;
}

.flag {
  border: 1px solid #ddd;
  border-radius: 4px;
  align-content: center;
  height: 4em;
  margin: 30px auto 30px;
}

 /*------------- Responsive -------------------*/

 @media (min-width:1700px) {
  .last-image-size {
    width: auto;
    height: 550px;
  }
 }

@media (min-width:1100px) {

    header div.head h1 {
      padding-top: 6rem;
    }
    
    header div.head {
      width: 80%;
    }
    header div.head h1 {
      font-size: 4rem;
    }
    
    main section {
      width: 90%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 1fr;
      
    }
    main section div p {
      padding: 0px 90px;
    }
    
    .languages p.language-icon {
      font-size: 2.4rem;
      padding: 10px 30px;
      margin: 0px 0px 30px 0px;
      
    }
    .languages p.language-title{
      font-size: 2.1rem;
      padding: 0;
      margin: 0;
    }

}

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
  display: flex !important;
  justify-content: center;
}

@media (max-width:499px) { 
  .ant-tabs-tab {
    font-size: 13px !important;
  }
}

@media (min-width:500px) {

  .ant-tabs-tab {
    font-size: 24px !important;
  }

  .ant-tabs-nav-list {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 50px 0 0 !important;
  }

  .ant-tabs-ink-bar {
    background-color: white !important;
  }

}

@media (max-width:1200px) {

  .social-margin {
    width: 300px;
  }

  .logo {
    margin-left: 35px;
  }

  .image-size {
    height: 450px;
  }

  .steps-content {
    height: 580px;
  }

}


@media (max-width:1099px) and (min-width:921px) {
  header div.head h1 {
  padding-top: 1.5rem;
  }

  header {
    height: 500px;
  }

  header div.head {
    width: 85%;
    grid-template-columns: 1fr;
  }

  header div.head h1 {
    font-size: 4rem;
    
  }

  main section {
    width: 90%;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
    
  }
  main section div p {
    padding: 0px 90px;
  }
  
  
  .languages p.language-icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
    
  }
  .languages p.language-title{
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
  }

}


@media (max-width:920px) and (min-width:600px) {

  header {
    height: 450px;
  }

  header div.head h1 {
    padding-top: 1.5rem;
  }
  
  header div.head {
    width: 75%;
    grid-template-columns: 1fr;
  }

  header div.head h1 {
    font-size: 3rem;
  }

  .image-size {
    width: 80%;
    height: auto;
  }

  .steps-content {
    height: 580px;
  }
  
  main section {
    width: 90%;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
    
  }
  main section div p {
    padding: 0px 90px;
  }
  
 div.languages {
   display: grid;
   grid-template-columns: 1fr;
  }


  .languages p.language-icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
    
  }
  .languages p.language-title{
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
  }
  main section h2 {
    font-size: 2.2rem;
  }

  main section h3 {
    font-size: 1.5rem;
  }
  
}

@media (max-width:599px) and (min-width:0px) {

  .logo {
    margin-left: 20px;
  }

  .image-size {
    width: 90%;
    height: auto;
  }

  .steps-content {
    height: 420px;
  }

  .ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
  }

  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 20px 0 0 !important;
  }

  header div.head h1 {
  padding-top: 1rem;
  }

  header div.head p {
  font-size: 1rem;
  }

  .cta-margin-top{
    margin-top: 5px;
  }

  header {
    height: 350px;
  }
  
  header div.head {
    width: 85%;
    grid-template-columns: 1fr;
    
  }
  header div.head h1 {
    font-size: 1.8rem;
    border: none;
  }
  
  header div.head p {
    padding-left: 0px;
  }
  

  main section:first-of-type{
    margin-top: 30px;
  }

  main section {
    width: 90%;
    padding: 10px 0;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    
  }
  main section div p {
    padding: 0px 10px;
  }
  
  div.languages {
   display: grid;
   grid-template-columns: 1fr;
  }

  .languages p.language-icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
    
  }
  .languages p.language-title{
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }
 
  main section form div label {
    margin-right:10px;
    border-radius: 5px;
  
  }
  
  main section form div:last-of-type input {
    padding: 10px;
    border-radius: 5px;
  
  }
  footer {
    padding: 20px 0;
    grid-template-columns:1fr;
  
  }
  footer ul li a {
    font-size: 1.8rem;
  }
  
  main section h2 {
    font-size: 1.8rem;
  }

  main div h1 {
    font-size: 1.5rem;
  }

  main section h2 {
    font-size: 1.6rem;
  }

  main section h3 {
    font-size: 1.5rem;
  }

  main div p{
  line-height: 160%;
  font-size: 1rem;
  }

  .contributor-font {
    font-size: 28px;
  }

  .footer-margin {
    margin-left: 50px;
  }

  .button {
  margin: 10px;
}

@media (max-width:500px) {
  .logo {
    width: 200px;
    height: auto;
    margin-left: 10px;
  }

  .bm-burger-button {
    width: 25px;
    height: 20px;
    top: 30px;
    right: 30px;
  }
}

@media (max-width:420px) {
  .social-margin {
    margin-top: 20px;
    margin-right: 20px;
    width: 250px;
  }

  .footer-margin {
    margin-left: 0;
  }

  .footer-title {
    font-size: 24px;
    text-align: center;
  }
  
  .footer-bottom {
    margin-left: 30px;
  }

  .footer-subtitle {
    font-size: 20px;
    margin-left: 20px;
  }
}
  
}